@import '../common.scss';

.app-layout {
  background-color: $primary-color;
}

.app-layout-container {
  display: grid;
  grid-template-columns: 30% 70%;
  height: 100vh;
}

.left-section {
  border-right: 1px solid #ddd;
  margin-right: 30px;
  height: 100%;
}